<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scarlet"
        tools:targetApi="31">
        <activity
            android:name=".AdminMainActivity"
            android:exported="true"
            android:label="@string/title_activity_admin_main"
            android:theme="@style/Theme.Scarlet.NoActionBar">


        </activity>
        <activity
            android:name=".SignInActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".SearchProductActivity"
            android:exported="true" />
        <activity
            android:name=".ProductDetailActivity"
            android:exported="true" />
        <activity
            android:name=".MemberShipActivity"
            android:exported="true" />
        <activity
            android:name=".ExchangePointActivity"
            android:exported="true" />
        <activity
            android:name=".PointHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".YourRightsActivity"
            android:exported="true" />
        <activity
            android:name=".OrderNotificationActivity"
            android:exported="true" />
        <activity
            android:name=".VoucherActivity"
            android:exported="true" />
        <activity
            android:name=".DeliveryActivity"
            android:exported="true" />
        <activity
            android:name=".PoliciesActivity"
            android:exported="true" />
        <activity
            android:name=".LoyaltyActivity"
            android:exported="true" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="true" />
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="demozpdk" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminEditCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".AdminEditProductActivity"
            android:exported="true" />
        <activity
            android:name=".AdminEditCustomerActivity"
            android:exported="true" />
        <activity
            android:name=".AdminEditVoucherActivity"
            android:exported="true" />
        <activity
            android:name=".AdminEditOfferActivity"
            android:exported="true" />
    </application>

</manifest>